* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    font-family: "Sekuya", system-ui;
    --super-big-font: clamp(3rem, 6vw, 4.5rem);
    --big-font: clamp(2.5rem, 4vw, 3rem);
    --medium-font: clamp(1.5rem, 4vw, 2.5rem);
    --small-font: clamp(1rem, 3vw, 1.5rem);
    --dark-grey: #333;
    --white: #fff;
    --light-yellow: #fff1d3;
    --dark-red: rgb(131, 49, 49);
    --orangered: rgba(250, 216, 184, 0.774);
}

html {
    scroll-behavior: smooth;
    text-wrap: balance;
}

.italic {
    font-style: italic;
    color: var(--dark-grey);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.mobile-menu-btn {
    display: none;
}

.nav-container {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--dark-red);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--small-font);
    padding: 0.5rem 1rem;
}

.home {
    justify-content: flex-start;
}

a {
    color: var(--light-yellow);
}

.others {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
}


.home:hover, .others li:hover {
    background-color: var(--light-yellow);
    border-radius: 10px;
    padding: 0 1rem;
    
}

.home:hover a, .others li:hover a{
    color: var(--dark-red);
}

.home, .others li {
     transition: 0.3s ease;
}

h1 {
    margin-top: -2rem;
    font-size: var(--super-big-font);
    text-align: center;
    color: var(--light-yellow);
    letter-spacing: 0.4rem;
    -webkit-text-stroke: 1px rgba(184, 60, 38, 0.589);
}

h2 {
    font-size: var(--big-font);
    color: var(--light-yellow);
    letter-spacing: 0.3rem;
    -webkit-text-stroke: 1px rgba(184, 60, 38, 0.589);
}

h3 {
    font-size: var(--small-font);
}

.background {
    height: 100vh;
    width: auto;
    top: 0;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(Images/afghan-food-big-portion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background h1, .background h2 {
    text-align: center;
}

#menu, #contact, #about, #home{
    scroll-margin-top: 3rem;
}

/* Menu Section - used a mix of minmax and min-1fr for a better responsive design */
.menu-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), auto));
    gap: 2rem;
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--light-yellow);
}

.menu-intro {
    padding: 3rem 0;
    text-align: center;
}

.menu-intro h3 {
    text-align: center;
}

.menu-card {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    border-radius: 10px;
    text-align: left;
    gap: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.4s ease;
}

.menu-card:hover {
    transform: scale(1.05);
    box-shadow: rgb(199, 115, 55) 0 3px 10px -1px;
    background-color: var(--orangered);
}

.menu-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}


.about-content {
    display: block;
    padding: 2rem 2rem;
    max-width: 900px;
    margin: 0 auto;
}

.about-content h2 {
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
}

.about-content img {
    display: inline;
    float: left;
    margin-right: 2rem;
    width: 40%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: bottom left;
    border-radius: 10px;
    margin: 0 1rem 1rem 0;
}

.about-content p {
    text-align: block;
    line-height: 1.6;
    color: var(--dark-grey);
}

.about-content p::first-letter {
    font-size: var(--big-font);
    font-weight: bold;
    color: var(--dark-red);
    line-height: 1;
    margin-right: 0.5rem;
}

.contact {
    background-color: var(--light-yellow);
    padding: 2rem 2rem;
    text-align: center;
}


.contact-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-link {
    color: var(--dark-red);
}

address {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    margin: 0 auto;
}


/* Layout for displaying the restaurant's opening hours in a horizontal row */

.time-table {
    margin: 2rem auto;
    max-width: 800px;
}

.day {
    text-align: left;
    font-size: var(--small-font);
    color: var(--dark-red);
    border-bottom: 0.1rem solid var(--dark-red);
    padding: 0.5rem 0;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.legal-notes {

    color: var(--dark-grey);
    padding: 1rem 2rem;
}

.social {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 2rem;
}

.social a {
    color: var(--dark-red);
    font-size: var(--small-font);
    transition: 0.3s ease;
}

.social a:hover {
    color: darkred;
    transform: scale(1.2);
}

@media screen and (max-width: 768px) {

:root {
    --gigantic-font: clamp(3rem, 6vw, 4.5rem);
    --super-big-font: clamp(2rem, 6vw, 3.5rem);
    --big-font: clamp(1.5rem, 4vw, 2.5rem);
    --medium-font: clamp(1.25rem, 3vw, 1.5rem);
    --small-font: clamp(1rem, 3vw, 1.25rem);
}

.mobile-menu-btn {
    position: absolute;
    z-index: 101;
    top: 1rem;
    left: 1rem;
    display: inline-block;
    color: var(--light-yellow);
    font-size: var(--gigantic-font);
    transition: 0.3s ease;
}

.nav-container {
    position: fixed;
    left: 0; 
    top: 0;
    width: 100%;
    height:100vh;
    background-color: rgba(131, 49, 49, 0.9);
    padding-top: 3rem;
    visibility: hidden;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.3s ease, visibility 0.5s ease;
    transform: translateY(-100%);
}

.nav-container.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

nav ul, .others {
    flex-direction: column;
    align-items: center;
    gap: clamp(1rem, 10vh, 6rem);
    font-size: var(--big-font);
}

.others {
    justify-content: flex-end;
}

.home:hover, .others li:hover, .close-btn:hover, .mobile-menu-btn:hover {
    background-color: var(--light-yellow);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.home:hover a, .others li:hover a, .mobile-menu-btn:hover {
    color: var(--dark-red);
}

#menu, #contact, #about, #home{
    scroll-margin-top: 0;
}

h1 {
    font-size: var(--super-big-font);
    letter-spacing: 0.2rem;
}

h2 {
    font-size: var(--big-font);
    letter-spacing: 0.1rem;
}

.background {
    height: 100vh;
    width: auto;
    overflow: hidden;
}

.menu-card-container {
    display: grid;
    grid-template-columns: auto;
    padding: 2rem 1rem;
    gap: 1rem;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
    text-align: center;
}

.about-content h2 {
    text-align: center;
}

.about-content img {
    float: none;
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-height: 300px;
}
}